<?xml version='1.0' encoding='UTF-8' ?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="tpl/layout.xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
                xmlns:f="http://xmlns.jcp.org/jsf/core">
    
    <ui:define name="title">
        #{msg.addDepartment}
    </ui:define>
    
    <ui:define name="content">
        <c:choose>
            <c:when test="#{!empty loginBean.manager}">
            <h:outputText id="message" value="" binding="#{departmentBean.component}" />
            <h:message for="message"/>
            <h:form styleClass="form-horizontal">
                <div class="form-group">
                    <h:outputLabel styleClass="col-sm-2 control-label"  for="name" value="#{msg.name}"/>
                    <div class="col-sm-10">
                        <h:inputText styleClass="form-control" id="name" value="#{departmentBean.name}" />
                    </div>
                    <h:message style="color:red;" for="name" />
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <h:commandButton styleClass="btn btn-default" action="#{departmentBean.addDepartment}" value="#{msg.addDepartment}">
                            <f:ajax render="@this" execute="@form" />
                        </h:commandButton>
                    </div>
                </div>
            </h:form>
            </c:when>
            <c:otherwise>
                <div class="alert alert-danger">
                    #{msg.notLoggedIn}
                </div>
            </c:otherwise>
        </c:choose>
    </ui:define>
</ui:composition>
