<?xml version='1.0' encoding='UTF-8' ?>
<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    template="tpl/layout.xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:p="http://primefaces.org/ui">

    <ui:define name="title">
        #{msg.addManager}
    </ui:define>

    <ui:define name="content">
        <h:outputText id="message" value="" binding="#{managerBean.component}" />
        <h:message for="message"/>
        <h:form id="form" styleClass="form-horizontal">
            <div class="form-group">
                <h:outputLabel styleClass="col-sm-2 control-label"  for="email" value="#{msg.email}"/>
                <div class="col-sm-7">
                    <h:inputText styleClass="form-control" required="true" id="email" value="#{managerBean.email}">
                        <f:validator validatorId="emailValidator" />
                        <f:ajax event="keyup" execute="@this" render="emailMsg" />
                    </h:inputText>
                </div>
                <div class="col-sm-3">
                    <h:message style="color:red;" for="email" id="emailMsg"/>
                </div>
            </div>
            <div class="form-group">
                <h:outputLabel styleClass="col-sm-2 control-label"  for="password" value="#{msg.password}"/>
                <div class="col-sm-7">
                    <p:password styleClass="form-control" feedback="true" promptLabel="#{msg.passwordPromptLabel}" weakLabel="#{msg.passwordWeakLabel}" goodLabel="#{msg.passwordGoodLabel}" strongLabel="#{msg.passwordStrongLabel}" required="true" id="password" match="password1" value="#{managerBean.password}" />
                </div>
                <div class="col-sm-3">
                    <h:message style="color:red;" for="password" />
                </div>
            </div>
            <div class="form-group">
                <h:outputLabel styleClass="col-sm-2 control-label"  for="password" value="#{msg.repeatPassword}"/>
                <div class="col-sm-7">
                    <p:password styleClass="form-control" required="true" id="password1" value="#{managerBean.password}">
                        <f:validateLength minimum="6" maximum="20" />
                        <p:ajax event="keyup" update="msgPassword" />
                    </p:password>
                </div>
                <div class="col-sm-3">
                    <p:message for="password" id="msgPassword" display="icon"/>  
                </div>
            </div>
            <div class="form-group">
                <h:outputLabel styleClass="col-sm-2 control-label"  for="firstName" value="#{msg.firstName}"/>
                <div class="col-sm-7">
                    <h:inputText styleClass="form-control" id="firstName" required="true" value="#{managerBean.firstName}" />
                </div>
                <div class="col-sm-3">
                    <h:message style="color:red;" for="firstName" />
                </div>
            </div>
            <div class="form-group">
                <h:outputLabel styleClass="col-sm-2 control-label"  for="lastName" value="#{msg.lastName}"/>
                <div class="col-sm-7">
                    <h:inputText styleClass="form-control" id="lastName" value="#{managerBean.lastName}" />
                </div>
                <div class="col-sm-3">
                    <h:message style="color:red;" for="lastName" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <p:commandButton styleClass="btn btn-default" update="form" action="#{managerBean.addManager}" value="#{msg.addManager}" ajax="false">

                    </p:commandButton>
                </div>
            </div>
        </h:form>
    </ui:define>
</ui:composition>
