<?xml version='1.0' encoding='UTF-8' ?>
<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
                template="tpl/layout.xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    
    <ui:define name="title">
        #{msg.addWorker}
    </ui:define>
    
    <ui:define name="content">
        <c:choose>
            <c:when test="${departmentBean.departments.isEmpty()}">
                <div class="alert alert-info">
                    <a href="addDepartment.jsf">#{msg.emptyDepartments}</a>
                </div>
            </c:when>
            <c:when test="#{!empty loginBean.manager}">
                <h:form styleClass="form-horizontal">
                    <div class="form-group">
                        <h:outputLabel styleClass="col-sm-2 control-label"  for="firstName" value="#{msg.firstName}"/>
                        <div class="col-sm-10">
                            <h:inputText styleClass="form-control" id="firstName" value="#{workerBean.firstName}" />
                        </div>
                        <h:message style="color:red;" for="firstName" />
                    </div>
                    <div class="form-group">
                        <h:outputLabel styleClass="col-sm-2 control-label"  for="lastName" value="#{msg.lastName}"/>
                        <div class="col-sm-10">
                            <h:inputText styleClass="form-control" id="lastName" value="#{workerBean.lastName}" />
                        </div>
                        <h:message style="color:red;" for="lastName" />
                    </div>
                    <div class="form-group">
                        <h:outputLabel styleClass="col-sm-2 control-label"  for="salary" value="#{msg.salary}"/>
                        <div class="col-sm-10">
                            <h:inputText styleClass="form-control" id="salary" value="#{workerBean.salary}" />
                        </div>
                        <h:message style="color:red;" for="salary" />
                    </div>
                    <div class="form-group">
                        <h:outputLabel styleClass="col-sm-2 control-label"  for="dateOfBirth" value="#{msg.dateOfBirth}"/>
                        <div class="col-sm-10">
                            <h:inputText styleClass="form-control" id="dateOfBirth" value="#{workerBean.dateOfBirth}">
                                <f:convertDateTime pattern="dd/MM/yyyy" />
                            </h:inputText>
                        </div>
                        <h:message style="color:red;" for="dateOfBirth" />
                    </div>
                    <div class="form-group">
                        <h:outputLabel styleClass="col-sm-2 control-label"  for="department" value="#{msg.department}"/>
                        <div class="col-sm-10">
                            <h:selectOneMenu styleClass="form-control" id="department" value="#{workerBean.departmentId}" valueChangeListener="#{workerBean.departmentChanged}">
                                <f:selectItems value="#{departmentBean.asMap()}"  />
                            </h:selectOneMenu>
                        </div>
                        <h:message style="color:red;" for="department" />
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <h:commandButton styleClass="btn btn-default" action="#{workerBean.addWorker()}" value="#{msg.addWorker}">

                            </h:commandButton>
                        </div>
                    </div>
                </h:form>
            </c:when>
            <c:otherwise>
                <div class="alert alert-danger">
                    #{msg.notLoggedIn}
                </div>
            </c:otherwise>
        </c:choose>
    </ui:define>
</ui:composition>
