<?xml version='1.0' encoding='UTF-8' ?>
<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    template="tpl/layout.xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="title">
        #{msg.login}
    </ui:define>

    <ui:define name="content">
        <h:outputText id="message" value="" binding="#{loginBean.component}"/>
        <h:message for="message"/>
        <h:form styleClass="form-horizontal">
            <div class="form-group">
                <h:outputLabel styleClass="col-sm-2 control-label" for="email" value="#{msg.email}"/>
                <div class="col-sm-7">
                    <h:inputText styleClass="form-control" id="email" value="#{loginBean.email}" required="true">
                        <f:validator validatorId="emailValidator" />
                        <f:ajax execute="@this" event="keyup" render="emailMsg" />
                    </h:inputText>
                </div>
                <div class="col-sm-3">
                    <h:message style="color:red;" for="email" id="emailMsg" />
                </div>
            </div>
            <div class="form-group">
                <h:outputLabel styleClass="col-sm-2 control-label" for="password" value="#{msg.password}"/>
                <div class="col-sm-7">
                    <h:inputSecret styleClass="form-control" id="password" value="#{loginBean.password}" required="true">
                        <f:ajax execute="@this" event="keyup" render="passwordMsg" />
                    </h:inputSecret>
                </div>
                <div class="col-sm-3">
                    <h:message style="color:red;" for="password" id="passwordMsg" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <h:commandButton styleClass="btn btn-default" action="#{loginBean.valid()}" value="#{msg.login}">
                    </h:commandButton>
                </div>
            </div>
        </h:form>
    </ui:define>
</ui:composition>
