<?xml version='1.0' encoding='UTF-8' ?>
<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    template="tpl/layout.xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <ui:define name="title">
        #{msg.registerNom}
    </ui:define>
    <ui:define name="content">
        <div class="alert alert-success">
            #{msg.gratulationRegister}
        </div>
        #{msg.gratulationRegistersummary}
    </ui:define>
</ui:composition>
