<?xml version='1.0' encoding='UTF-8' ?>
<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
                template="tpl/layout.xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <ui:define name="title">
        #{msg.showDepartments}
    </ui:define>
    
    <ui:define name="content">
        <h:dataTable styleClass="table table-hover" value="#{departmentBean.departments}" var="department">
            <f:facet name="header">#{msg.allDepartmentsLabel}</f:facet>
            <h:column>
                <f:facet name="header">#{msg.name}</f:facet>
                <h:form>
                    <h:commandLink action="#{departmentBean.showDepartment(department.id)}" value="#{department.name}" />
                </h:form>
            </h:column>
            <h:column>
                <f:facet name="header">#{msg.amountOfWorkers}</f:facet>
                #{department.workers.size()}
            </h:column>
        </h:dataTable>
    </ui:define>
</ui:composition>
