<?xml version='1.0' encoding='UTF-8' ?>
<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
                template="tpl/layout.xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    
    <ui:define name="title">
        #{msg.showDepartments}
    </ui:define>
    
    <ui:define name="content">
        <h:dataTable styleClass="table table-hover" value="#{departmentBean.department.workers}" var="worker">
            <f:facet name="header">#{msg.allWorkersLabel} - #{departmentBean.department.name}</f:facet>
            <h:column>
                <f:facet name="header">#{msg.firstName}</f:facet>
                #{worker.firstName}
            </h:column>
            <h:column>
                <f:facet name="header">#{msg.lastName}</f:facet>
                #{worker.lastName}
            </h:column>
            <h:column>
                <f:facet name="header">#{msg.dateOfBirth}</f:facet>
                #{worker.dateOfBirth}
            </h:column>
            <h:column>
                <f:facet name="header">#{msg.salary}</f:facet>
                #{worker.salary}
            </h:column>
        </h:dataTable>
    </ui:define>
</ui:composition>
