<?xml version='1.0' encoding='UTF-8' ?>
<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    template="tpl/layout.xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <ui:define name="title">
        #{msg.showWorkers}
    </ui:define>

    <ui:define name="content">
        <h:dataTable styleClass="table table-hover" value="#{workerBean.getWorkers()}" var="worker">
            <f:facet name="header">#{msg.allWorkersLabel}</f:facet>
            <h:column>
                <f:facet name="header">#{msg.firstName}</f:facet>
                    #{worker.firstName}
            </h:column>
            <h:column>
                <f:facet name="header">#{msg.lastName}</f:facet>
                    #{worker.lastName}
            </h:column>
            <h:column>
                <f:facet name="header">#{msg.dateOfBirth}</f:facet>
                    #{worker.dateOfBirth}
            </h:column>
            <h:column>
                <f:facet name="header">#{msg.salary}</f:facet>
                    #{worker.salary}
            </h:column>
            <h:column>
                <f:facet name="header">#{msg.department}</f:facet>
                    #{worker.department.name}
            </h:column>
            <c:if test="${!empty loginBean.manager}">
                <h:column>
                    <f:facet name="header">#{msg.options}</f:facet>
                    <h:form>
                        <h:commandLink action="#{workerBean.delWorker(worker)}" value="#{msg.remove}"/>
                    </h:form>
                </h:column>
            </c:if>
        </h:dataTable>
    </ui:define>
</ui:composition>
